@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section class="conteiner">
    <ul class="list-group"
        <li class="list-group-item">
            <a asp-asp-controller="Productos" asp-action="Index">Productos</a>
        </li>
        <li class="list-group-item">
            <a asp-asp-controller="Presupuestos" asp-action="Index">Presupuestos</a>
        </li>
    ></ul>
</section>
